<section class="payment-page">
  <div class="payment-container">
    <div class="payment-card">
      <h2>Payment</h2>
      <p class="subtitle">Complete your order securely</p>

     <div class="order-summary">
  <h3>Order Summary</h3>

  <div class="payment-products">
    <div class="payment-product" *ngFor="let detail of detailsPanier">
      <img
        [src]="getImage(detail)"
        [alt]="getNomComplet(detail)"
        class="payment-product-image"
      />

      <div class="payment-product-info">
        <h4>{{ getNomComplet(detail) }}</h4>
        <p>
          {{ detail.quantite }} × {{ getPrix(detail).toFixed(2) }} TND
        </p>
      </div>

      <strong>{{ getSubtotal(detail).toFixed(2) }} TND</strong>
    </div>
  </div>

  <div class="summary-row">
    <span>Subtotal</span>
    <span>{{ subtotal.toFixed(2) }} TND</span>
  </div>

  <div class="summary-row discount" *ngIf="discountAmount > 0">
    <span>Discount ({{ couponPercent }}%)</span>
    <span>- {{ discountAmount.toFixed(2) }} TND</span>
  </div>

  <div class="summary-row total">
    <span>Total</span>
    <span>{{ total.toFixed(2) }} TND</span>
  </div>
</div>
          <button type="button" class="pay-btn" (click)="payerAvecStripe()">
  Pay Now 
</button>
    </div>
  </div>
</section>

<div class="payment-popup-overlay" *ngIf="showPaymentPopup">
  <div class="payment-popup">
    <div
      class="payment-popup-icon"
      [class.success]="paymentPopupSuccess"
      [class.error]="!paymentPopupSuccess">
      {{ paymentPopupSuccess ? '✓' : '!' }}
    </div>

    <h3>{{ paymentPopupTitle }}</h3>
    <p>{{ paymentPopupMessage }}</p>

    <button class="pay-btn" (click)="closePaymentPopup()">
      OK
    </button>
  </div>
</div>