<section class="admin-page">
  <div class="admin-container">


  <div class="title-header">
  <h2 class="title">
    Détails de la commande #{{ idCommande }}
  </h2>

  <button class="btn-download" (click)="telechargerDetailsCommande()">
    Télécharger PDF
  </button>
</div>


    <!-- TOP INFOS -->
    <div class="cards-grid">

      <!-- COMMANDE A GAUCHE -->
      <div class="info-card" *ngIf="commande">
        <h3>Informations commande</h3>

        <p>
          <strong>Date :</strong>
          {{ commande.dateCommande }}
        </p>

        <p>
          <strong>Total :</strong>
          {{ commande.totalCommande }} TND
        </p>

        <p>
          <strong>Livraison :</strong>
          {{ commande.etatLivraison }}
        </p>

        <p>
          <strong>Paiement :</strong>
          <span class="badge success">
            PAYEE
          </span>
        </p>
      </div>

      <div class="info-card" *ngIf="utilisateur">
        <h3>Informations client</h3>

        <p>
          <strong>Nom :</strong>
          {{ utilisateur.nom }}
        </p>

        <p>
          <strong>Prénom :</strong>
          {{ utilisateur.prenom }}
        </p>

        <p>
          <strong>Email :</strong>
          {{ utilisateur.email }}
        </p>

        <p>
          <strong>Téléphone :</strong>
          {{ utilisateur.telephone }}
        </p>
      </div>

    </div>

    <!-- TABLEAU PRODUITS -->
    <h3 class="subtitle">
      Produits commandés
    </h3>

    <div class="table-wrapper">

      <table class="details-table">

        <thead>
          <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Taille</th>
            <th>Pointure</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let detail of detailsCommande">

            <td>
              {{ detail.produit?.nomProduit 
                 || detail.produit?.nom 
                 || 'Produit' }}
            </td>

          

            <td>{{ detail.quantite }}</td>

            <td>
              {{ detail.prixUnitaire }} TND
            </td>

            <td>
              {{ detail.taille || '-' }}
            </td>

            <td>
              {{ detail.pointure || '-' }}
            </td>

            <td class="total">
              {{ detail.total }} TND
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>
</section>