<h2>Liste des réclamations</h2>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Date</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of reclamations">
      <td>{{ r.id }}</td>
      <td>{{ r.description }}</td>
      <td>{{ r.dateCreation }}</td>
      <td>{{ r.statut }}</td>
      <td>
        <button (click)="deleteReclamation(r.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>