<div class="assurance-page">
  <div *ngIf="loading" class="assurance-loading">Chargement de l’offre...</div>
  <div *ngIf="errorMessage" class="assurance-error">{{ errorMessage }}</div>

  <ng-container *ngIf="!loading && assurance">
    <section class="assurance-hero">
      <span class="assurance-badge badge-active">{{ typeLabels[assurance.typeAssurance] }}</span>
      <h1 class="assurance-title" style="margin-top: 1rem;">Souscrire à {{ assurance.titre }}</h1>
      <p class="assurance-subtitle">
        Finalisez votre contrat rapidement avec un formulaire simple, propre et sécurisé.
      </p>
    </section>

    <div class="assurance-grid" style="align-items:start;">
      <article class="assurance-card">
        <h3 class="assurance-card-title">Résumé de l’offre</h3>
        <p><strong>Prime :</strong> {{ assurance.prime | number:'1.2-2' }} TND</p>
        <p><strong>Couverture :</strong> {{ assurance.montantCouverture | number:'1.0-0' }} TND</p>
        <p><strong>Durée :</strong> {{ assurance.dureeValidite }} jours</p>
        <p><strong>Statut après validation :</strong> En attente de paiement</p>
<p style="color: var(--assurance-text-soft); line-height:1.65;">
  Le numéro de contrat, le montant payé et la date de fin seront générés automatiquement après la validation.
</p>
        <p style="color: var(--assurance-text-soft); line-height:1.65;">
          {{ assurance.description }}
        </p>
      </article>

      <article class="assurance-card">
        <h3 class="assurance-card-title">Informations de souscription</h3>

        <form [formGroup]="form" (ngSubmit)="submit()" class="assurance-form">
          

          <div class="assurance-field">
            <label>Date de début</label>
            <input type="date" formControlName="dateDebut" />
          </div>

          

          <div class="assurance-field">
            <label>Nom du bénéficiaire</label>
            <input type="text" formControlName="beneficiaireNom" />
          </div>

          <div class="assurance-field">
            <label>Téléphone du bénéficiaire</label>
            <input type="text" formControlName="beneficiaireTelephone" />
          </div>

          <div *ngIf="successMessage" class="assurance-empty">{{ successMessage }}</div>
          <div *ngIf="errorMessage" class="assurance-error">{{ errorMessage }}</div>

          <button type="submit" class="assurance-btn assurance-btn-primary" [disabled]="submitting">
  {{ submitting ? 'Redirection vers paiement...' : 'Continuer vers le paiement' }}
</button>
        </form>
      </article>
    </div>
  </ng-container>
</div>