<section class="reclamation-page">
  <div class="reclamation-overlay">
    <div class="reclamation-card">
      <form (ngSubmit)="save()" #reclamationForm="ngForm">

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Complaint Description</label>
          <br>
          <textarea
            id="description"
            name="description"
            class="form-control"
            rows="5"
            [(ngModel)]="reclamation.description"
            required
            #description="ngModel">
          </textarea>

          <div class="text-danger" *ngIf="submitted && description.invalid">
            Description is required.
          </div>
        </div>

        <!-- Image Upload -->
        <div class="form-group full-width mb-3">
          <label for="description" class="form-label">
         Image</label><br>
          <input
            id="image"
            type="file"
            name="image"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </div>

        <!-- Acceptation -->
        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="acceptationDeclaration"
            name="acceptationDeclaration"
            [(ngModel)]="reclamation.acceptationDeclaration"
            required
            #acceptationDeclaration="ngModel">

          <label class="form-check-label" for="acceptationDeclaration">
            I accept the processing of my personal data for handling my complaint.
            <br>
            <a href="javascript:void(0)" (click)="ouvrirDeclaration()">View the declaration</a>
          </label>
        </div>

        <div class="text-danger mb-3" *ngIf="submitted && !reclamation.acceptationDeclaration">
          You must accept the declaration before submitting your complaint.
        </div>

        <button type="submit" class="btn btn-primary submit-btn">
          Submit Complaint
        </button>
      </form>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal-backdrop-custom" *ngIf="showDeclaration">
  <div class="modal-box-custom">
    <div class="modal-header-custom">
      <h4>Personal Data Processing Declaration</h4>
      <button type="button" class="btn-close-custom" (click)="fermerDeclaration()">×</button>
    </div>

    <div class="modal-body-custom">
      <p>The <strong>CampConnect</strong> platform collects your data...</p>
    </div>

    <div class="modal-footer-custom">
      <button class="btn btn-secondary modal-close-btn" type="button" (click)="fermerDeclaration()">Close</button>
    </div>
  </div>
</div>